@model List<BlockOutHours>

@{
    ViewData["Title"] = "Day Details";
}

@if (ViewBag?.BHMessage != null)
{
<div class="alert alert-success">
    @ViewBag.BHMessage
</div>
}


@if (!Model.Any())
{
    <div class="d-flex align-content-center justify-content-center mt-3 flex-column flex-wrap">
        <h1>No data Found</h1>
        <a href="/Day/Create" class="btn btn-primary mb-2 d-block">Add New Day</a>
    </div>
}
else
{
    
    <div class="d-flex align-content-center justify-content-center mt-3">
        <div class="table-responsive w-75">
            <table class="table table-hover table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        
                        <th scope="col">Start Hour</th>
                        <th scope="col">End Hour</th>
                       
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hour in Model)
                    {
                        <tr>
                            
                            <td>@hour.StartTime</td>
                            <td>@hour.EndTime</td>
                         
                            <td>
                                <a href="@Url.Action("Delete", "BlockOutHours", new { HourId = hour.BlockOutHoursId ,DayId = hour.Day.DayId})" class="btn btn-danger">Delete</a>
                                <a href="@Url.Action("Details", "Day", new { HourId = hour.BlockOutHoursId})" class="btn btn-primary ms-2">Details</a>
                            </td>

                            @* <td>@day.AppointmentTime</td> *@
                        </tr>
                    }

                </tbody>
            </table>
            <a href="/Day/Create" class="btn btn-primary mb-2">Add New Day</a>
        </div>
    </div>
}
